/* Application styles */
/*
 * Colors:
 *  
 */
 
@import url("syr-font-families.css");

/* A */
.alpha-pages {margin:-1.5em 0 1em 0;}
#advancedSearch {padding:2em 1em; background-color:#F7F7F9;}
.api-path {width:15%}
.api-param {width:20%}
.api-desc {width:55%}
.api-method {width:10%}

/* B */
.image-banner {
    position:relative;
    margin-top:-1em;
    padding-top:0;
	background-image:url('../images/banner.png');
	background-size:cover;
	background-position:top;
    height:250px;
    width:100%;
    border-bottom:4px solid #456889;
}
.banner-container {display:inline-block; line-height:2.5em;}
.banner-text {color: #888; display:inline-block; letter-spacing: -1px; font:1.35em Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.banner-icon img{height:50px; overflow:hidden; padding-left: 1em; vertical-align: middle; margin:-.25em .5em 0 .5em; padding:0;}
body {font-family: arial, sans-serif; background-color:white;}
/* browse menus*/
.browse-alpha {border-bottom:1px solid #ccc; padding:.5em 1em; margin:1em 0; text-align: justify;}
.browse-alpha li + li {padding-left: .75em;}
.browse-alpha li.syr-menu + li.syr-menu {padding-left: .5em;}
.browse-alpha li.ar-menu + li.ar-menu {padding-left: .15em;}
.browse-alpha li.selected a{color:white; padding-right:.25em;}

/* C */
.clipboard {padding:.25em; margin-left:.75em;}
.container {margin:1em 2em; padding: .5em 1em; }
.code-grp {width:100%;}
.code {
    text-align:left;
    border:1px solid #ccc;
	border-left: 11px solid #ccc;
	overflow: auto;
	max-width:inherit;
    background-color: #F5F5F5;
    width:90%;
}
code.inline{
    display:inline;
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	max-width:inherit;
	white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}
/* D */
dt {
	margin-top: 1.5em;
}
dd {
	margin-top: 0.5em;
}

/* F */
footer {border-top:4px solid #456889;}
footer .poweredby { float: right; margin: 33px 10px 0 0;}
footer .poweredby img { width: 120px; }

/* facets */
.facet-label {
    margin-left:.5em; 
    display:block; 
    text-align:left; 
    white-space: normal;
    }
.facet-label.remove {background-color:#eee; color:#666; font-weight:normal; margin:.25em; display:inline-block;}

/* G */
.geo-home {margin-top:4em !important;}
.geo-home #map {border-bottom:4px solid #456889}

/* I */
.indent {margin-left: 1em;}
img{ margin:0px }
.img-credit{
    position:absolute;
    bottom:0;
    right:0;
    width:100%;
    text-align:right;
    font-size: smaller;
    font-weight:200;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.55);
    color: white; 
    display: inline;
    padding: 0.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* K */
.keboard-btn {margin-left:-1em;}

/* L */
/* Styles for languages and scripts for Syriac styles */
/* styles for languages and scripts */
:lang(en) {
	font-family: arial, sans-serif;
}

:lang(syr),:lang(syc) {
 font-family: "EstrangeloEdessa", "Estrangelo Edessa", Verdana, Arial, Helvetica, sans-serif;
  /*font-size:large;*/
  font-size:1.25em; 
  line-height:1em;
  
}

:lang(syr-Syrj), :lang(syc-Syrj) {
 font-family: "SertoBatnan", "Serto Batnan", Verdana, Arial, Helvetica, sans-serif;
  font-size:1.25em; 
  line-height:1em;
 
}

:lang(syr-Syre), :lang(syc-Syre) {
 font-family: "EastSyriacAdiabene", "East Syriac Adiabene", Verdana, Arial, Helvetica, sans-serif;
 font-size:1.25em; 
 line-height:1em;

}

:lang(ar) {
 font-family: arial, sans-serif;
 font-size:1.25em; 
 line-height:1em;
}

/* M */
.map-lg #map {height:500px !important;}
.map-md #map {height:300px !important;}
.map-sm #map {height:250px !important;}
#map {height:325px !important;}
.map-pop-title {display:block;font-weight:600; font-size:1.2em; margin-bottom:0; padding-bottom:0;}
.map-pop-desc {display:block; padding:.5em;}

/* N */
/* Navbar styles*/
.navbar {padding:0 2em; border-bottom:4px solid #456889 !important;}
.navbar .dropdown {margin-top:.65em; margin-left: 1.5em;}
.navbar {border-bottom:4px solid #456889 !important;}
.navbar-inner {border-bottom:.5em solid #456889 !important;}
.navbar-inner .container{height: 45px !important; padding-top:.5em; margin-left:.5em;}
.navbar-inner {border-bottom:.5em solid #456889 !important;}
.navbar-inner .container{height: 45px !important; padding-top:.5em; margin-left:.5em;}
.navbar-brand {margin-top:-.75em; padding-left:0; margin-left:0; margin-right:-2em;}
.navbar-brand img {padding:0; margin:0; }
.navbar .brand {margin-top:-.75em; margin-left:40px;padding-left:0;}
.navbar .brand img {margin-left:1.5em;padding-left:0;}
.navbar-inner .nav > li > a:hover, .advanced-search > a:hover {
        border-bottom: 4px solid #DDEAF1 !important;  
}
.navbar-inner > .container > .nav > li.selected {border-bottom: 4px solid #E69849 !important; }
.navbar.advanced-search > a {color:#999; text-decoration:none;}
.navbar .advanced-search{margin-top:-.5em;}
.navbar-form {overflow:hidden;}
.navbar .keboard-btn {margin-left:-1em;}
.navbar-input-group {
  font-size: 0px; /*removes whitespace between button and input*/
}
/* Nav submenus*/
.navbar .dropdown-submenu {position: relative;}
.navbar .dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
}
.navbar .dropdown-submenu:hover > .dropdown-menu {
  display: block;
}
.navbar .dropdown-submenu:hover > a:after {
  border-left-color: #fff;
}
.navbar .dropdown-submenu.pull-left {
  float: none;
}
.navbar .dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}
/* Nav bar icons for submodules */
.navbar .dropdown-menu li a{margin-left:.5em;}
/* Used for dropdowns next to syriaca.org icon, so both icon and caret are "clickable" */
.navbar .lonely-caret {margin-left:-2em; padding-left:0;margin-top:-.35em;}
.navbar .nav-icons {
    background-position: left center;
    background-repeat: no-repeat;
    text-indent:14px;
}
.navbar .sub-menu .nav-icons{margin-left:2em;}
.navbar .icon-container {display:inline-block; line-height:1.5em;}
.navbar .submodule {margin-left:.75em;}
.navbar .icon-nav {font-size:1.75em; display:inline-block; margin-right:.15em;}
.navbar .icon-text {display:inline-block; margin-top:-.85em; vertical-align: middle; font-weight:500;}
.navbar .nav-text {display:inline-block; line-height:1.5em; margin-top:.25em;}

/* O */
.overlay {
    font-weight:200;
    background: rgb(34,34,34); /* for IE */
    background: rgba(34,34,34,0.65);
    color: white; 
    display: inline;
    padding: 1.5em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

/* P */
.paging {display:block; clear:both;}
.param {font-weight:500;}
.param-string {margin-right:.75em;}
/* API documentation */
pre code {
	line-height: 1.6em;
	font-size: 11px;
	}
pre {
	padding: 0.1em 0.5em 0.3em 0.7em;
	border-left: 11px solid #ccc;
	margin: 1.7em 0 1.7em 0.3em;
	overflow: auto;
	width: 93%;
	max-width:inherit;
	white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
	}

/* R */
.record {padding-top: 2em; margin:4em;}
.results {margin-top:4em;}
.result {border-bottom:1px dotted #eee; padding-top:.5em; padding-bottom: 1em;}
.results-list-desc {display:block;}
.relationship-type {font-color:#666666; display:block;}
.row { margin-left: 0px; margin-right: 0px;}

/* S */
.search-box input, .search-box textarea{
    background-color:#FFF;
    color: #666;
}

#sources ul {
	list-style-type: none;
	padding-left: -0.1em;
	text-indent: -1em;
}

/* T */
.tab-content {padding-top:.25em;}
.text {margin:0}
.title {border-bottom:1px solid grey}
.title-journal, .title-monographic{font-style:italic;}
.tooltip {
      padding:.25em;
      overflow:visible;
  }
.tooltip-inner {
    padding:.25em;
    padding-left:1.5em;
    overflow:visible;
    text-align:center;
    }
/* TEI styles */
.tei-event {display:block;}
.tei-footnote-refs, .tei-footnote-tgt {
    font-size: .7em;
    line-height: 0.5em;
    vertical-align: baseline;
    position: relative;
    top: -0.4em;

}
.tei-footnote-tgt {
    margin-left:-1.5em;
    padding-right:.5em;    
}

.top-padding {margin-top:4.5em !important;}

/* W */
.white-link{color:white;}
.white-link:focus, .white-link:active:focus, .white-link.active:focus {
    outline: 0 none;
    color:white;
}
.well-white {background-color:white;}

/* Special styles for small screens */
@media screen and (max-width: 480px) {
.navbar-collapse, .dropdown-menu {float:none; width:100% !important;}
.navbar-nav li {width:100% !important; float:none;}
.mobile-submenu {
    display: block;
    float:left;
    margin-left:3em;
    }
.caret {float:left; margin-left:.5em; margin-top:.5em;}    
}