@CHARSET "ISO-8859-1";

@font-face {
    font-family: 'SyrCOMAdiabene';
    src: url('../fonts/SyrCOMAdiabene.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SyrCOMTalada';
    src: url('../fonts/SyrCOMTalada.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SyrCOMAntioch';
    src: url('../fonts/SyrCOMAntioch.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
