<li xmlns="http://www.w3.org/1999/xhtml">    
    <div class="btn-nav">
        <button class="btn btn-default navbar-btn" id="font" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Select Font">
            <span class="glyphicon glyphicon-font"/>
        </button>  
        <ul class="dropdown-menu dropdown-menu-right" id="swap-font">
            <li>
                <a href="#" class="swap-font" id="DefaultSelect" data-font-id="EstrangeloEdessa">Default</a>
            </li>
            <li>
                <a href="#" class="swap-font" id="EstrangeloEdessaSelect" data-font-id="SyrCOMTalada">Estrangela Talada</a>
            </li>
            <li>
                <a href="#" class="swap-font" id="EastSyriacAdiabeneSelect" data-font-id="SyrCOMAdiabene">East Syriac Adiabene</a>
            </li>
            <li>
                <a href="#" class="swap-font" id="SertoBatnanSelect" data-font-id="SyrCOMAntioch">Serto Antioch</a>
            </li>
            <li>
                <a href="$app-root/documentation/wiki.html?wiki-page=/How-to-view-Syriac-script&amp;wiki-uri=https://github.com/srophe/srophe-app-data/wiki">Help <span class="glyphicon glyphicon-question-sign"/>
                </a>
            </li>
        </ul>
    </div>
</li>